{% extends "layout.html" %}
{% block form %}
<form class="navbar-form navbar-right" action="{{ url_for('hardware') }}" method="post">
    <div class="form-group">
        <input name="host" type="text" placeholder="Host IP" class="form-control">
    </div>
    <button type="submit" type="btn btn-success" class="form-control">Lookup</button>
</form>
{% endblock %}




{% block body %}
{% if raw %}
{{ raw }}
{% else %}
<div class="container"><h1> words for form entry </h1></div>
{% endif %}
{% endblock %}
