{% extends "layout.html" %}
{% block form %}
<form class="navbar-form navbar-right" action="{{ url_for('index') }}" method="post">
    <div class="form-group">
        <input name="user" type="text" placeholder="Username" class="form-control">
    </div>
    <div class="form-group">
        <input name="password" type="password" placeholder="Password" class="form-control">
    </div>
    <button type="submit" type="btn btn-success" class="form-control">Log in</button>
</form>
{% endblock %}




{% block body %}
<div class="container"><h1>words for log in  </h1></div>
{% endblock %}

