<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-theme.min.css') }}">
    </head>
    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        {% if authed %}
                        <span class="icon-bar"></span>
                        {% endif %}
                    </button>
                    <a class="navbar-brand" href="#">Chassis</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Main</a></li>
                        <li><a href="#">Another Page</a></li>
                        <li><a href="#">YAP</a></li>
                        {% if authed %}
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        {% endif %}
                    </ul>
                    {% block form %} {% endblock %}
                </div><!--/.nav-collapse-->
            </div>
        </nav>

        <div class="container" role="main" style="padding-top:50px">
            <div>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
            <div class="flash pull-right"><h3><span class="label label-danger">{{ message }}</span></h3></div>
            {% endfor %}
          {% endif %}
        {% endwith %}

                {% block body %}{% endblock %}
            </div>
        </div>




        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    </body>

